# Tugas Python 4

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-python-4.ipynb
* Contoh: johndoe1-python-4.ipynb
* Username dapat dilihat di dalam akun anda.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
---

1. Ambil elemen ke-5 dari _tuple_ di bawah ini.
> ekspektasi jawaban: `'jumps'`

In [1]:
tuple_1 = ("the","quick","brown","fox","jumps","over","the","lazy","dog")

jawaban_1 = tuple_1[4] #ganti titik-titik dengan kode yang tepat.

2. Ambil empat elemen pertama dari _tuple_ di bawah ini.
> ekspektasi jawaban: `(1.5, 24, 3.523, 7.6)`

In [2]:
tuple_2 = (1.5,24,3.523,7.6,95,40.5,34)

jawaban_2 = tuple_2[:4] #ganti titik-titik dengan kode yang tepat.

3. Ambil tiga elemen terakhir dari _tuple_ di bawah ini.
> ekspektasi jawaban: `(0.15, 2.11, -0.95)`

In [3]:
tuple_3 = (-1.92, 0.35, -0.03, -1.46, 1.58, -0.72, 2.61, 0.15, 2.11, -0.95)

jawaban_3 = tuple_3[-3:] #ganti titik-titik dengan kode yang tepat.

4. Dengan menggunakan _unpacking_, hitung nilai dari $a+2b-3c+4d$, dimana $a,b,c,d$ berturut-turut merupakan elemen pada _tuple_ di bawah ini.
> ekspektasi jawaban: `50`

In [4]:
tuple_4 = (12,-8,-10,6)

#ganti titik-titik dengan kode yang tepat.
(a,b,c,d) = tuple_4

jawaban_4 = a + 2*b - 3*c + 4*d

5. Ambil elemen kedua hingga kelima dari _list_ di bawah ini.
> ekspektasi jawaban: `[649.81, 'Bandung', 167.3, 'Bekasi']`

In [5]:
list_1 = ["Jakarta",649.81,"Bandung",167.30,"Bekasi",210.49,"Bogor",118.5]

jawaban_5 = list_1[1:5] #ganti titik-titik dengan kode yang tepat.

6. _List_ di bawah ini seharusnya berisi bilangan prima berurutan yang kurang dari 20. Ubah elemen yang salah.

In [6]:
primes_below_20 = [2,4,5,7,11,13,17,19]

jawaban_6 = 1 #tuliskan indeks elemen yang salah
primes_below_20[jawaban_6] = 3 #ganti elemen yang salah

7. Ambil elemen "suka" dari nested list berikut.

In [7]:
list_2 = [["aku","suka"],["makan","rendang"]]

jawaban_7 = list_2[0][1] #ganti titik-titik dengan kode yang tepat.

8. Tambahkan elemen 24 ke akhir _list_ berikut.

In [8]:
list_3 = [8,16]
#ganti titik-titik dengan kode yang tepat.
list_3.append(24)
jawaban_8 = list_3

9. Hapus elemen yang bernilai 15 dari _set_ berikut.

In [9]:
set_1 = {6,12,15,18}
#ganti titik-titik dengan kode yang tepat.
set_1.discard(15)
jawaban_9 = set_1

10. Gabungkan dua _set_ berikut tanpa ada elemen yang berulang.
> ekspektasi jawaban: `{3, 4, 5, 8, 10, 11}`

In [10]:
set_A = {3,4,8,10}
set_B = {4,5,8,11}

jawaban_10 = set_A.union(set_B) #ganti titik-titik dengan kode yang tepat.

11. Tentukan apakah set_B adalah subset dari set_A. Tipe data jawaban harus berupa Boolean.
> ekspektasi jawaban: `True`

In [11]:
set_A = {2,4,8,16,32,64,128}
set_B = {4,16,64}

jawaban_11 = set_B.issubset(set_A) #ganti titik-titik dengan kode yang tepat.

12. Buatlah _dictionary_ untuk data berikut:
* Nama: Mangga muda
* Warna Kulit: Hijau
* Warna Daging: Kuning
* Rasa: Asam\
Kemudian keluarkan _value_ dari _key_ "Warna Kulit".

In [12]:
data = {"Nama": "Mangga muda", "Warna Kulit": "Hijau", "Warna Daging": "Kuning", "Rasa": "Asam"}

jawaban_12 = data['Warna Kulit'] #ganti titik-titik dengan kode yang tepat.

13. Hapus elemen "Naga" pada _dictionary_ di bawah ini.

In [13]:
pets = {"Kucing":"Cat", "Anjing":"Dog", "Ikan mas hias":"Goldfish", "Naga":"Dragon"}
#ganti titik-titik dengan kode yang tepat.
pets.pop('Naga')
jawaban_13 = pets

14. Diberikan data dua orang mahasiswa universitas Z berikut:
|Nama|Fakultas|Semester|Total SKS|
|------|-----|-----|-----|
|Andi|Teknik|6|126|
|Budi|Psikologi|6|118|

dimana Semester adalah semester keberapa mahasiswa tersebut saat ini dan Total SKS adalah banyaknya SKS yang diperoleh sampai saat ini. Tabel di atas telah diubah ke dalam bentuk _dictionary_ pada program di bawah.\
Untuk mengambil matakuliah Tugas Akhir, seorang mahasiswa wajib memperoleh minimal 120 SKS. Cek apakah Andi dan Budi dapat mengambil matakuliah Tugas Akhir atau tidak. Jawaban akan berupa _tuple_ berisi dua elemen Boolean, yang berturut-turut menyatakan apakah syarat pengambilan matakuliah Tugas Akhir sudah dipenuhi oleh Andi dan oleh Budi.\
**Hint:** gunakan operator _comparison_.

In [14]:
mahasiswa = {"Andi":{"Fakultas":"Teknik","Semester":6,"Total SKS":126},
            "Budi":{"Fakultas":"Psikologi","Semester":6,"Total SKS":118}}

#tuliskan syarat Total SKS masing-masing mahasiswa untuk pengambilan tugas akhir
andi = mahasiswa['Andi']['Total SKS'] >= 120 
budi = mahasiswa['Budi']['Total SKS'] >= 120

jawaban_14 = (andi,budi)

15. Gunakan konsep pemrograman rekursif untuk menghitung jumlah $n$ suku pertama deret harmonik. Deret harmonik adalah deret sbb:
$$H(n) = 1 + \frac{1}{2} + \frac{1}{3} + \frac{1}{4} + \frac{1}{5} + \dots + \frac{1}{n}$$
Kemudian keluarkan jumlah 4 suku pertama deret harmonik.\
_Expected output_: 2.083333333333333.
**Pada variabel jawaban_15, isi dengan hasil penjumlahan 6 suku pertama deret harmonik.**

In [15]:
#ganti titik-titik dengan kode yang tepat.
def harmonic(suku):
    if suku == 1:
        return 1
    else:
        return 1/suku + harmonic(suku-1)

print(harmonic(4))
jawaban_15 = harmonic(6)

2.083333333333333