# Tugas Python 1

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-python-1.ipynb
* Contoh: testing-1123-python-1.ipynb
* Username dapat dilihat di dalam akun anda.
* Mohon **jangan mengubah** nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
* Tutorial cara pengerjaan dapat dilihat [disini](https://discourse.pacmann.ai/t/pengumuman-video-tutorial/484).
---

1. Hitunglah $5+5$

In [1]:
jawaban_1 = 5+5
jawaban_1

10

2. Hitunglah $2^{10}$

In [2]:
jawaban_2 = 2**10
jawaban_2

1024

3. Buatlah sebuah string yang berisi nama anda.

In [3]:
jawaban_3 = 'Muhammad Prabowo Kadir'
jawaban_3

'Muhammad Prabowo Kadir'

4. Ubahlah string berikut menjadi sebuah nilai integer

In [4]:
angka = "1945"
jawaban_4 = int(angka)
jawaban_4

1945

5. Ubahlah float berikut menjadi sebuah string

In [5]:
pi = 3.14159265359
jawaban_5 = str(pi)
jawaban_5

'3.14159265359'

6. Ambillah karakter pertama dari string berikut

In [6]:
teks = "pacmann"
jawaban_6 = teks[0]
jawaban_6

'p'

7. Ambillah karakter terakhir dari string berikut.

In [7]:
teks = "pacmann"
jawaban_7 = teks[-1]
jawaban_7

'n'

8. Ambillah 4 karakter pertama dari string berikut dengan menggunakan slicing!

In [8]:
teks = "bangunan"
jawaban_8 = teks[:4]
jawaban_8

'bang'

9. Tono memiliki 4 kelereng, Budi memiliki 5 kelereng. Berapakah total jumlah kelereng yang dimiliki mereka berdua?

In [9]:
kelereng_tono = 4
kelereng_budi = 5
jawaban_9 = kelereng_tono + kelereng_budi
kalimat = "Jumlah kelereng yang dimiliki oleh Tono dan Budi adalah {}"
print(kalimat.format(jawaban_9))

Jumlah kelereng yang dimiliki oleh Tono dan Budi adalah 9

10. Budi memiliki 10 lemper, dan Budi membagikan 10 lemper yang dimilikinya kepada 5 orang temannya secara rata. Berapa lemper yang diterima oleh masing-masing teman budi?

In [10]:
lemper_budi = 10
jawaban_10 = lemper_budi/5
print("Lemper yang diterima oleh masing-masing teman Budi adalah " + str(round(jawaban_10)))

Lemper yang diterima oleh masing-masing teman Budi adalah 2

11. Hitunglah nilai dari operasi matematik berikut $\left(\frac{3*8}{4}\right) + (4*5)$

In [11]:
jawaban_11 = ((3*8)/4) + (4*5)
jawaban_11

26.0

12. Lala sedang berbelanja barang di supermarket, dengan harga terlampir di bawah ini. Lala membeli 1 potong ayam, 4 ekor ikan kembung, 3 ikat kangkung, dan 2 botol susu. Lalu Lala mendapat diskon sebesar 25% dari total harga yang dibayarkan 

    Tuliskan biaya yang harus dibayar Adi sebagai operasi di bawah ini dan jalankan perhitungannya.

| barang      | harga  |
|-------------|--------|
| ayam        | 20000  |
| ikan kembung| 15000 |
| sayur kangkung | 10000  |
| susu        | 22000  |

In [12]:
ayam = 20000
ikan_kembung = 15000
sayur_kangkung = 10000
susu = 22000
diskon = 25/100

jawaban_12 = (ayam + (4*ikan_kembung) + (3*sayur_kangkung) + (2*susu))*diskon
kalimat = "Biaya yang harus dibayar oleh Adi adalah Rp.{}"
print(kalimat.format(jawaban_12))

Biaya yang harus dibayar oleh Adi adalah Rp.38500.0

13. Surti, remaja anak bapak kades dan si Tejo, jejaka yang baru saja mudik berencana untuk menikah 2 tahun dari sekarang. Jika biaya pernikahan dan resepsi di kampung mereka adalah 48.000.000, berapa uang yang harus ditabung mereka berdua per bulannya agar 2 tahun lagi mereka bisa menikah?

    asumsi: tidak ada inflasi, dan semua harga selalu konstan.

In [13]:
biaya_nikah = 48000000
jawaban_13 = biaya_nikah/24
print("Uang yang harus ditabung oleh mereka berdua per bulannya adalah Rp." + str(jawaban_13))

Uang yang harus ditabung oleh mereka berdua per bulannya adalah Rp.2000000.0

14. Sebuah bioskop ingin memutar film dan menampilkan judul film tersebut di website mereka. Namun judul film tersebut semuanya memakai huruf kecil. Bantulah bioskop tersebut

Hint: Pakai method di dalam string

In [14]:
judul = 'the lord of the rings: the return of the king'
jawaban_14 = judul.title()
jawaban_14

'The Lord Of The Rings: The Return Of The King'

15. Carilah ada berapa kata 'gandalf' di dalam teks berikut. (tidak case sensitive)

In [15]:
teks = "Centuries later, during the War of the Ring, Gandalf leads Aragorn, Legolas, Gimli, and King Théoden to Isengard, \
        where they reunite with Merry and Pippin. Gandalf retrieves the defeated Saruman's palantír. Pippin later looks  \
        into the seeing-stone and is seen by Sauron. From Pippin's description of his visions, Gandalf surmises that Sauron \
        will attack Gondor's capital Minas Tirith. He rides there to warn Gondor's steward Denethor, taking Pippin with him."

# kode anda
jawaban_15 = teks.lower().count('gandalf')
jawaban_15

3